#crear{
    padding: 0 15px 30px 15px;
    

}

#crear label{
    color: white;
}

#crear textarea{
    height: 150px;
}

.erroresCreate{
    display: none;
    margin: 0 0 0 5px;
    color: red;
}


@media(min-width: 760px){

    #crear{
        padding: 0 0 30px 15px;
        width: 75%;
    
    }




}

@media(min-width: 1000px){

    #crear{
        padding: 0 0 30px 15px;
        width: 40%;
    
    }

}